body {
  background-color: white;
  border-left: 75px solid rgb(54, 54, 138);
  border-right: 75px solid rgb(54, 54, 138);
  font-family: arial;
  padding: 0px 25px;
  line-height: 2;
}
h1 {
  font-size: 36px;
  text-align: center;
}
h2 {
  font-size: 30px;
  text-align: center;
}
h3 {
  font-size: 24px;
  text-align: center;
  border-bottom: 1px solid black;
}
p {
  margin: 5px 0px;
  line-height: 1.5;
}
ol {
  line-height: 1.5;
  list-style: decimal;
  padding: 2%;
}
ul {
  line-height: 1.5;
  list-style: circle;
  margin-left: 20px;
}
dt {
  margin-left: 20px;
}
dd {
  margin-left: 35px;
}
footer {
  text-align: center;
}
.questions {
  border: 2px dashed rgb(54, 54, 138);
  border-radius: 50px;
  padding: 0% 2% 2% 2%;
  margin-bottom: 5px;
}
.answers {
  border: 2px dashed rgb(54, 54, 138);
  border-radius: 50px;
  padding: 0% 2% 2% 2%;
  margin-top: 5px;
}
.institution {
  font-weight: bold;
}
.top-ten {
  margin: 0px 0px;
}